{% extends "layout/layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{ basic_data.get('title') }}</h3>
  {#
  ##### 入力データの情報表示 #####
  #}
  {% if input_table %}
    {% with table_label='データ選択', col_1='入力項目', col_2='設定項目', contents=input_table %}
      {% include 'tables/display2columns.html' %}
    {% endwith %}
    <hr>
  {% endif %}

  {#
  ##### 作品検索フォーム #####
  #}
  <form action={{ url_for('network.result') }} method=post enctype=multipart/form-data target=_blank>
    {# 設定の必須と任意でタブ作成 #}
    <ul class='nav nav-tabs' id='options' role='tablist'>
      <li class='nav-item'>
        <a class='nav-link active' id='required-tab' data-toggle='tab' href='#required' role='tab' aria-controls='required' aria-selected='true'>必須設定</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' id='optional-tab' data-toggle='tab' href='#optional' role='tab' aria-controls='optional' aria-selected='false'>詳細設定</a>
      </li>
    </ul>
    {# タブの中身 #}
    <div class='tab-content py-2'>
      {#
      # 必須設定項目 #
      #}
      <div class='tab-pane fade show active' id='required' role='tabpanel' aria-labelledby='required-tab'>
        {#
        ##### 表示形式 #####
        #}
        <div class='form-group'>
          <h5><div class='badge badge-danger'>必須</div> 表示形式</h5>
          <div class='form-check'>
            <div class='row'>
              {# 2D（シンプル） #}
              <div class='col-md-3'>
                <label class='form-check-label' for='2-dimension'>
                  <div class='card'>
                    <div class='card-header px-4'>
                      <input class='form-check-input' type='radio' name='dimension' value='2' id='2-dimension'
                          {% if option %}
                            {{ 'checked' if option.get('dimension', 2) == 2 else '' }}
                          {% else %}
                            {{ 'checked' }}
                          {% endif %}>
                          2D（シンプル）
                    </div>
                    <img src='https://raw.githubusercontent.com/takeYY/Rampo_Edogawa_Visualization/main/static/images/network_2D.png' class='img-thumbnail'/>
                  </div>
                </label>
              </div>
              {# 2D（詳細） #}
              <div class='col-md-3'>
                <label class='form-check-label' for='2-dimension-detail'>
                  <div class='card'>
                    <div class='card-header px-4'>
                      <input class='form-check-input' type='radio' name='dimension' value='4' id='2-dimension-detail'
                          {% if option %}
                            {{ 'checked' if option.get('dimension', 2) == 4 else '' }}
                          {% endif %}>
                          2D（詳細）
                    </div>
                    <img src='https://raw.githubusercontent.com/takeYY/Rampo_Edogawa_Visualization/main/static/images/network_2D.png' class='img-thumbnail'/>
                  </div>
                </label>
              </div>
              {# 3D #}
              <div class='col-md-3'>
                <label class='form-check-label' for='3-dimension'>
                  <div class='card'>
                    <div class='card-header px-4'>
                      <input class='form-check-input' type='radio' name='dimension' value='3' id='3-dimension'
                          {% if option %}
                            {{ 'checked' if option.get('dimension')==3 else '' }}
                          {% endif %}>
                          3D
                    </div>
                    {% if input_table.get('章ごとのカテゴリ分割') == 'する' %}
                      <img src='https://raw.githubusercontent.com/takeYY/Rampo_Edogawa_Visualization/main/static/images/network_3D_categorization.png' class='img-thumbnail'/>
                    {% else %}
                      <img src='https://raw.githubusercontent.com/takeYY/Rampo_Edogawa_Visualization/main/static/images/network_3D.png' class='img-thumbnail'/>
                    {% endif %}
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

        {# 共起関係上位と共起頻度の最小値の設定 #}
        <div class='row'>
          {#
          ##### 表示する共起関係上位 #####
          #}
          <div class='col-md-6'>
            {% with option_type='必須', form_label='共起関係上位', form_name='number', form_min=1, form_max=1000,
                    form_size=50, form_default=10, option=option if option else None, form_required=True,
                    form_help='描画する共起関係の数です。&#13;&#10;値が多いほど多くの共起関係を描画しますが、表示に時間がかかります。' %}
              {% include 'forms/number_form.html' %}
            {% endwith %}
          </div>
          {#
          ##### 共起頻度の最小値 #####
          #}
          <div class='col-md-6'>
            {% with option_type='必須', form_label='共起頻度の最小値', form_name='co_oc_freq_min', form_min='1',
                    form_size=50, form_default=2, option=option if option else None, form_required=True,
                    form_help='指定された値より少ない共起頻度は除去されます。&#13;&#10;共起頻度が1の関係は何の情報も持たないため、2以上が推奨です。' %}
              {% include 'forms/number_form.html' %}
            {% endwith %}
          </div>
        </div>

        {#
        ##### 共起強度 #####
        #}
        {% with option_type='必須', form_label='共起強度', form_remarks='※（）内は共起強度の取り得る値の範囲', description=description,
                form_name='co_oc_strength', contents=co_oc_strength_dict, option=option if option else None %}
          {% include 'forms/radio_form.html' %}
        {% endwith %}

        {#
        ##### 表示する共起強度の範囲 #####
        #}
        {% with option_type='必須', form_label='共起強度の最大値', form_name='strength_max', form_step='0.01', form_min='',
                form_size=25, form_default=0.99, option=option if option else None, form_required=True %}
          {% include 'forms/number_form.html' %}
        {% endwith %}

        {#
        ##### 可視化対象の品詞 #####
        #}
        {% with option_type='必須', form_label='可視化対象の品詞', form_name='hinshi', form_remarks='※（）内は品詞毎の総語数',
                form_hinshi=hinshi_dict, option=option if option else None %}
          {% include 'forms/checkbox_form.html' %}
        {% endwith %}

        {#
        ##### カテゴリー選択 #####
        #}
        {% if category_list and category_list[0] != '< 章なし >' %}
          {% with option_type='必須', form_label='カテゴリー選択（3Dのみ）', form_name='category', form_remarks='※（）内はカテゴリの順番',
                  form_list=category_list, option=option if option else None %}
            {% include 'forms/checkbox_form.html' %}
          {% endwith %}
        {% endif %}
        {# 必須設定項目ここまで #}
      </div>





      {#
      # 詳細設定項目 #
      #}
      <div class='tab-pane fade' id='optional' role='tabpanel' aria-labelledby='optional-tab'>
        {#
        ##### 強制抽出語 #####
        #}
        {% with option_type='任意', form_label='強制抽出語',
                form_help='指定した単語の共起を強制的に表示します。<br>複数ある場合は改行で区切ってください。',
                form_name='target_words', form_sample='怪人<br>面相', form_y=2, option=option if option else None %}
          {% include 'forms/textarea_form.html' %}
        {% endwith %}

        {#
        ##### 同義語指定 #####
        #}
        {% with option_type='任意', form_label='同義語指定',
                form_help='指定した単語群を同一の単語として処理し可視化します。<br>入力形式は入力例をご覧ください。',
                form_name='synonym',
                form_sample='・怪人二十面相<br>怪人,二十,面相<br><br>・明智探偵<br>明智,小五郎,探偵',
                form_y=2, option=option if option else None %}
          {% include 'forms/textarea_form.html' %}
        {% endwith %}

        {#
        ##### 除去設定 #####
        #}
        <div class='card border-danger mb-3'>
          <h5 class='card-header'>除去設定</h5>
          <div class='card-body'>
            {#
            ##### ストップワード（強制除去語） #####
            #}
            {% with option_type='任意', form_label='ストップワード（強制除去語）',
                    form_help='指定した単語の共起を強制的に除去します。<br>複数ある場合は改行で区切ってください。',
                    form_name='remove_words',
                    form_sample='二十面相<br>明智',
                    form_y=2, option=option if option else None %}
              {% include 'forms/textarea_form.html' %}
            {% endwith %}

            {#
            ##### 除去対象の品詞組み合わせ #####
            #}
            <div class='form-group'>
              <h5>
                <div class='badge badge-secondary'>任意</div> 除去対象の品詞組み合わせ
              </h5>
              <div class='row px-4'>
                {#
                ##### 名詞 #####
                #}
                <div class='col-md-3 card card-body'>
                  <div class='card-title'>名詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                    <div class='form-check'>
                      <input type='checkbox' name='remove-combi-meishi' value={{value}} id=meishi-{{key}} class='form-check-input'
                          {% if option %}
                            {{ 'checked' if value in option.get('remove_combi', {}).get('meishi', {}) else '' }}
                          {% endif %}>
                      <label for=meishi-{{key}} class='form-check-label'>{{value}}</label>
                    </div>
                  {% endfor %}
                </div>
                {#
                ##### 動詞 #####
                #}
                <div class='col-md-3 card card-body'>
                  <div class='card-title'>動詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                    <div class='form-check'>
                      <input type='checkbox' name='remove-combi-doushi' value={{value}} id=doushi-{{key}} class='form-check-input'
                          {% if option %}
                            {{ 'checked' if value in option.get('remove_combi', {}).get('doushi', {}) else '' }}
                          {% endif %}>
                      <label for=doushi-{{key}} class='form-check-label'>{{value}}</label>
                    </div>
                  {% endfor %}
                </div>
                {#
                ##### 形容詞 #####
                #}
                <div class='col-md-3 card card-body'>
                  <div class='card-title'>形容詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                    <div class='form-check'>
                      <input type='checkbox' name='remove-combi-keiyoushi' value={{value}} id=keiyoushi-{{key}} class='form-check-input'
                          {% if option %}
                            {{ 'checked' if value in option.get('remove_combi', {}).get('keiyoushi', {}) else '' }}
                          {% endif %}>
                      <label for=keiyoushi-{{key}} class='form-check-label'>{{value}}</label>
                    </div>
                  {% endfor %}
                </div>
                {#
                ##### 副詞 #####
                #}
                <div class='col-md-3 card card-body'>
                  <div class='card-title'>副詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                    <div class='form-check'>
                      <input type='checkbox' name='remove-combi-fukushi' value={{value}} id=fukushi-{{key}} class='form-check-input'
                          {% if option %}
                            {{ 'checked' if value in option.get('remove_combi', {}).get('fukushi', {}) else '' }}
                          {% endif %}>
                      <label for=fukushi-{{key}} class='form-check-label'>{{value}}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {# 詳細設定ここまで #}
      </div>
    </div>
    {#
    ##### 可視化ボタン #####
    #}
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>新規タブで可視化</button>
    </div>
  </form>
</div>
{% endblock %}
