{% extends "layout/layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{ basic_data.get('title') }}</h3>
  {#
  ##### 入力データの情報表示 #####
  #}
  {% if input_table %}
  <div class='my-2'>
    <p>データ選択</p>
    <table class='table table-hover table-striped table-sm'>
      <thead class='thead-dark'>
        <tr>
          <th scope='col'>入力項目</th>
          <th scope='col'>設定項目</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in input_table.items() %}
          <tr>
            {% if value %}
              <th>{{ key }}</th>
              <th>{{ value }}</th>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
  {% endif %}

  {#
  ##### 作品検索フォーム #####
  #}
  <form action={{ url_for('network.result') }} method=post enctype=multipart/form-data target=_blank>
    {#
    ##### 表示形式 #####
    #}
    <div class='form-group'>
      <h5><div class='badge badge-danger'>必須</div> 表示形式</h5>
      <div class='form-check'>
        <div class='row'>
          <div class='col-md-3'>
            <label class='form-check-label' for='2-dimension'>
              <div class='card'>
                <div class='card-header px-4'>
                  <input class='form-check-input' type='radio' name='dimension' value='2' id='2-dimension'
                      {% if option %}
                        {{ 'checked' if option.get('dimension', 2) == 2 else '' }}
                      {% else %}
                        {{ 'checked' }}
                      {% endif %}>
                      2D
                </div>
                <img src='../../static/images/network_2D.png' class='img-thumbnail'/>
              </div>
            </label>
          </div>
          <div class='col-md-3'>
            <label class='form-check-label' for='3-dimension'>
              <div class='card'>
                <div class='card-header px-4'>
                  <input class='form-check-input' type='radio' name='dimension' value='3' id='3-dimension'
                      {% if option %}
                        {{ 'checked' if option.get('dimension')==3 else '' }}
                      {% endif %}>
                      3D
                </div>
                {% if input_table.get('章ごとのカテゴリ分割') == 'する' %}
                  <img src='../../static/images/network_3D_categorization.png' class='img-thumbnail'/>
                {% else %}
                  <img src='../../static/images/network_3D.png' class='img-thumbnail'/>
                {% endif %}
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      {#
      ##### 表示する共起数上位 #####
      #}
      <div class='col-md-6'>
        <div class='form-group w-50 h-100'>
          <h5><div class='badge badge-danger'>必須</div> 共起数上位</h5>
          <div class='px-4'>
            <input type='number' name='number' value="{{ option.get('number') if option else 10 }}"
                class="form-control
                {% if option %}
                  {{ 'is-invalid' if option.get('errors', {}).get('number') else '' }}
                {% endif %}">
            {% if option and option.get('errors', {}).get('number') %}
              <div class='invalid-feedback'>
                {{ option.get('errors').get('number') }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {#
      ##### 共起頻度の最小値 #####
      #}
      <div class='col-md-6'>
        <div class='form-group w-50 h-100'>
          <h5><div class='badge badge-danger'>必須</div> 共起頻度の最小値</h5>
          <div class='px-4'>
            <input type='number' name='co_oc_freq_min' value="{{ option.get('co_oc_freq_min') if option else 2 }}"
                class="form-control
                {% if option %}
                  {{ 'is-invalid' if option.get('errors', {}).get('co_oc_freq_min') else '' }}
                {% endif %}">
            {% if option and option.get('errors', {}).get('co_oc_freq_min') %}
              <div class='invalid-feedback'>
                {{ option.get('errors').get('co_oc_freq_min') }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {#
    ##### 共起強度 #####
    #}
    <div class='form-group'>
      <h5><div class='badge badge-danger'>必須</div> 共起強度</h5>
      <small>※（）内は共起強度の取り得る値の範囲</small>
      {#
      ##### 共起強度の説明
      #}
      <div class='p-2'>
        <button class='btn btn-info dropdown-toggle' aria-controls='co_oc_strength_description' aria-expanded='false'
            data-target='#co_oc_strength_description' data-toggle='collapse' type='button'>詳細説明</button>
        <div id='co_oc_strength_description' class='collapse'>
          <div class='bs-callout bs-callout-info mt-0 py-1'>
            {% for value in description.get('co_oc_strength').values() %}
              {{ value|safe }}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-4'>
          <div class='form-check'>
            <input type='radio' name='co_oc_strength' value='jaccard' id='jaccard'
                {% if option %}
                  {{ 'checked' if option.get('co_oc_strength', 'jaccard')=='jaccard' else '' }}
                {% else %}
                  {{ 'checked' }}
                {% endif %}>
            <label class='form-check-label' for='jaccard'>Jaccard係数（0.0〜1.0）</label>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='form-check'>
            <input type='radio' name='co_oc_strength' value='dice' id='dice'
                {% if option %}
                  {{ 'checked' if option.get('co_oc_strength')=='dice' else '' }}
                {% endif %}>
            <label class='form-check-label' for='dice'>Dice係数（0.0〜1.0）</label>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='form-check'>
            <input type='radio' name='co_oc_strength' value='simpson' id='simpson'
                {% if option %}
                  {{ 'checked' if option.get('co_oc_strength')=='simpson' else '' }}
                {% endif %}>
            <label class='form-check-label' for='simpson'>Simpson係数（0.0〜1.0）</label>
          </div>
        </div>
        <div class='w-100'></div>
        <div class='col-md-4'>
          <div class='form-check'>
            <input type='radio' name='co_oc_strength' value='frequency' id='frequency'
                {% if option %}
                  {{ 'checked' if option.get('co_oc_strength')=='frequency' else '' }}
                {% endif %}>
            <label class='form-check-label' for='frequency'>共起頻度（0〜∞）</label>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='form-check'>
            <input type='radio' name='co_oc_strength' value='pmi' id='pmi'
                {% if option %}
                  {{ 'checked' if option.get('co_oc_strength')=='pmi' else '' }}
                {% endif %}>
            <label class='form-check-label' for='pmi'>相互情報量（-∞〜∞）</label>
          </div>
        </div>
      </div>
    </div>

    {#
    ##### 表示する共起強度の範囲 #####
    #}
    <div class='form-group w-50'>
      <h5><div class='badge badge-danger'>必須</div> 共起強度の最大値</h5>
      <div class='px-4'>
        <input type='number' name='strength_max' step='0.01' value="{{ option.get('strength_max') if option else 0.99 }}"
            class="form-control
            {% if option %}
              {{ 'is-invalid' if option.get('errors', {}).get('strength_max') else '' }}
            {% endif %}">
        {% if option and option.get('errors', {}).get('strength_max') %}
          <div class='invalid-feedback'>
            {{ option.get('errors').get('strength_max') }}
          </div>
        {% endif %}
      </div>
    </div>

    {#
    ##### 可視化対象の品詞 #####
    #}
    <div class='form-group'>
      <h5><div class='badge badge-danger'>必須</div> 可視化対象の品詞</h5>
      <small>※（）内は含有数</small>
      <div class='row'>
        {% for key, value in hinshi_dict.items() %}
          <div class='col-md-4'>
            <div class='form-check h-100'>
              <input type='checkbox' name='hinshi' value={{key}} id={{key}}
                  class="form-check-input {{ 'is-invalid' if option and option.get('errors', {}).get('hinshi') else '' }}"
                  {% if option %}
                    {{ 'checked' if value in option.get('hinshi_jpn', []) else '' }}
                  {% else %}
                    {{ 'checked' if loop.index == 1 else '' }}
                  {% endif %}>
              <label for={{key}} class='form-check-label'>{{key}}（{{value}}）</label>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if option and option.get('errors', {}).get('hinshi') %}
        <div class='small text-danger'>
          {{ option.get('errors').get('hinshi') }}
        </div>
      {% endif %}
    </div>

    {#
    ##### カテゴリー選択 #####
    #}
    {% if category_list and category_list[0] != '< 章なし >' %}
      <div class='form-group'>
        <h5><div class='badge badge-danger'>必須</div> カテゴリー選択（3Dのみ）</h5>
        <small>※（）内はカテゴリの順番</small>
        <div class='row'>
          {% for category in category_list %}
            <div class='col-md-4'>
              <div class='form-check h-100'>
                <input type='checkbox' name='category' value={{category}} id={{loop.index}}
                    class="form-check-input {{ 'is-invalid' if option and option.get('errors', {}).get('category') else '' }}"
                    {% if option %}
                      {{'checked' if category in option.get('selected_category') else '' }}
                    {% else %}
                      {{ 'checked' if loop.index == 1 }}
                    {% endif %}>
                <label for={{loop.index}} class='form-check-label'>{{category}}（{{loop.index}}）</label>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if option and option.get('errors', {}).get('category') %}
          <div class='small text-danger'>
            {{ option.get('errors').get('category') }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {#
    ##### 詳細設定 #####
    #}
    <div class='form-group'>
      <button class='btn btn-info dropdown-toggle' aria-controls='detail-options' aria-expanded='false'
          data-target='#detail-options' data-toggle='collapse' type='button'>詳細設定</button>
      <div id='detail-options' class='collapse border border-info rounded px-4 py-2'>
        {#
        ##### 指定ワード #####
        #}
        <div class='form-group'>
          <h5><div class='badge badge-secondary'>任意</div> 指定ワード</h5>
          <div class='p-4'>
            <p>指定した単語の共起のみ表示します。</p>
            <button class='btn btn-info dropdown-toggle' aria-controls='target-word-sample' aria-expanded='false'
                data-target='#target-word-sample' data-toggle='collapse' type='button'>入力例</button>
            <div id='target-word-sample' class='collapse'>
              <div class='bs-callout bs-callout-info mt-0 py-1'>
                <p>
                怪人<br>
                面相
                </p>
              </div>
            </div>
          </div>
          <div class='px-4'>
            <textarea class='form-control' rows=2
                name='target-words'>{{ option.get('target_words') if option else ''}}</textarea>
          </div>
        </div>

        {#
        ##### 同義語指定 #####
        #}
        <div class='form-group'>
          <h5><div class='badge badge-secondary'>任意</div> 同義語指定</h5>
          <div class='p-4'>
            <p>指定した単語群を同一の単語として可視化します。</p>
            <button class='btn btn-info dropdown-toggle' aria-controls='synonym-sample' aria-expanded='false'
                data-target='#synonym-sample' data-toggle='collapse' type='button'>入力例</button>
            <div id='synonym-sample' class='collapse'>
              <div class='bs-callout bs-callout-info mt-0 py-1'>
                <p>
                ・怪人二十面相<br>
                怪人,二十,面相<br>
                <br>
                ・明智探偵<br>
                明智,小五郎,探偵
                </p>
              </div>
            </div>
          </div>
          <div class='px-4'>
            <textarea class='form-control' rows=2
                name='synonym'>{{ option.get('synonym') if option else ''}}</textarea>
          </div>
        </div>

        {#
        ##### 除去設定 #####
        #}
        <div class='card border-danger mb-3'>
          <h5 class='card-header'><div class='badge badge-secondary'>任意</div> 除去設定</h5>
          <div class='card-body'>
            {#
            ##### 除去ワード #####
            #}
            <div class='form-group'>
              <label for='remove-word' class='form-check-label'>除去ワード</label>
              <div class='p-4'>
                <p>共起ネットワークに含めない単語を指定可能です。</p>
                <button class='btn btn-info dropdown-toggle' aria-controls='remove-word-sample' aria-expanded='false'
                    data-target='#remove-word-sample' data-toggle='collapse' type='button'>入力例</button>
                <div id='remove-word-sample' class='collapse'>
                  <div class='bs-callout bs-callout-info mt-0 py-1'>
                    <p>
                    二十面相<br>
                    明智
                    </p>
                  </div>
                </div>
              </div>
              <div class='px-4'>
                <textarea class='form-control' rows=2
                    name='remove-words'>{{ option.get('remove_words') if option else ''}}</textarea>
              </div>
            </div>

            {#
            ##### 除去対象の品詞組み合わせ #####
            #}
            <div class='form-group'>
              <label class='form-check-label'>除去対象の品詞組み合わせ</label>
              <div class='row px-5'>
                {#
                ##### 名詞 #####
                #}
                <div class='col-3 card card-body'>
                  <div class='card-title'>名詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                    <div class='form-check'>
                      <input type='checkbox' name='remove-combi-meishi' value={{value}} id=meishi-{{key}} class='form-check-input'
                          {% if option %}
                            {{ 'checked' if value in option.get('remove_combi', {}).get('meishi', {}) else '' }}
                          {% endif %}>
                      <label for=meishi-{{key}} class='form-check-label'>{{value}}</label>
                    </div>
                  {% endfor %}
                </div>
                {#
                ##### 動詞 #####
                #}
                <div class='col-3 card card-body'>
                  <div class='card-title'>動詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                    <div class='form-check'>
                      <input type='checkbox' name='remove-combi-doushi' value={{value}} id=doushi-{{key}} class='form-check-input'
                          {% if option %}
                            {{ 'checked' if value in option.get('remove_combi', {}).get('doushi', {}) else '' }}
                          {% endif %}>
                      <label for=doushi-{{key}} class='form-check-label'>{{value}}</label>
                    </div>
                  {% endfor %}
                </div>
                {#
                ##### 形容詞 #####
                #}
                <div class='col-3 card card-body'>
                  <div class='card-title'>形容詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                    <div class='form-check'>
                      <input type='checkbox' name='remove-combi-keiyoushi' value={{value}} id=keiyoushi-{{key}} class='form-check-input'
                          {% if option %}
                            {{ 'checked' if value in option.get('remove_combi', {}).get('keiyoushi', {}) else '' }}
                          {% endif %}>
                      <label for=keiyoushi-{{key}} class='form-check-label'>{{value}}</label>
                    </div>
                  {% endfor %}
                </div>
                {#
                ##### 副詞 #####
                #}
                <div class='col-3 card card-body'>
                  <div class='card-title'>副詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                    <div class='form-check'>
                      <input type='checkbox' name='remove-combi-fukushi' value={{value}} id=fukushi-{{key}} class='form-check-input'
                          {% if option %}
                            {{ 'checked' if value in option.get('remove_combi', {}).get('fukushi', {}) else '' }}
                          {% endif %}>
                      <label for=fukushi-{{key}} class='form-check-label'>{{value}}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {#
    ##### 可視化ボタン #####
    #}
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>新規タブで可視化</button>
    </div>
  </form>
</div>
{% endblock %}