{% extends "layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{ basic_data.get('title') }}</h3>
  <!--
  ----- 入力データの情報表示 -----
  -->
  {% if input_data %}
  <div class='my-2'>
    <p>データ選択</p>
    <table class='table table-hover table-striped table-sm'>
      <thead class='thead-dark'>
        <tr>
          <th scope='col'>入力項目</th>
          <th scope='col'>設定項目</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in input_data.items() %}
          <tr>
            <th>{{ key }}</th>
            <th>{{ value }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
  {% endif %}

  <!--
  ----- 作品検索フォーム -----
  -->
  <form action={{ url_for('network.result') }} method=post enctype=multipart/form-data target=_blank>
    <!--
    ----- 表示形式 -----
    -->
    <div class='form-group'>
      <h5><div class='badge badge-danger'>必須</div> 表示形式</h5>
      <div class='px-4'>
        <div class='form-check'>
          <input type='radio' name='dimension' value=2 id='2d-network' {{ 'checked' if sent_data and sent_data.get('dimension')==2 or not sent_data else '' }}>
          <label class='form-check-label' for='2d-network'>2D</label>
        </div>
        <div class='form-check'>
          <input type='radio' name='dimension' value=3 id='3d-network' {{ 'checked' if sent_data and sent_data.get('dimension')==3 else '' }}>
          <label class='form-check-label' for='3d-network'>3D</label>
        </div>
      </div>
    </div>

    <!--
    ----- 表示する共起数上位 -----
    -->
    <div class='form-group w-25'>
      <h5><div class='badge badge-danger'>必須</div> 共起数上位</h5>
      <div class='px-4'>
        <input type='number' class='form-control {{ "is-invalid" if sent_data and sent_data.get("error", {}).get("number") else "" }}'
          name='number' value={{ sent_data.get('number') if sent_data else 10 }}>
        {% if sent_data and sent_data.get('error', {}).get('number') %}
          <div class='invalid-feedback'>
            {{ sent_data.get('error').get('number') }}
          </div>
        {% endif %}
      </div>
    </div>

    <!--
    ----- 共起強度 -----
    -->
    <div class='form-group'>
      <h5><div class='badge badge-danger'>必須</div> 共起強度</h5>
      <small>※（）内は共起強度の取り得る値の範囲</small>
      <div class='px-4'>
        <div class='form-check'>
          <input type='radio' name='co_oc_strength' value='frequency' id='frequency' {{ 'checked' if sent_data and sent_data.get('co_oc_strength')=='frequency' or not sent_data else '' }}>
          <label class='form-check-label' for='frequency'>共起回数（0〜∞）</label>
        </div>
        <div class='form-check'>
          <input type='radio' name='co_oc_strength' value='jaccard' id='jaccard' {{ 'checked' if sent_data and sent_data.get('co_oc_strength')=='jaccard' else '' }}>
          <label class='form-check-label' for='jaccard'>Jaccard係数（0.0〜1.0）</label>
        </div>
        <div class='form-check'>
          <input type='radio' name='co_oc_strength' value='dice' id='dice' {{ 'checked' if sent_data and sent_data.get('co_oc_strength')=='dice' else '' }}>
          <label class='form-check-label' for='dice'>Dice係数（0.0〜1.0）</label>
        </div>
        <div class='form-check'>
          <input type='radio' name='co_oc_strength' value='simpson' id='simpson' {{ 'checked' if sent_data and sent_data.get('co_oc_strength')=='simpson' else '' }}>
          <label class='form-check-label' for='simpson'>Simpson係数（0.0〜1.0）</label>
        </div>
        <div class='form-check'>
          <input type='radio' name='co_oc_strength' value='pmi' id='pmi' {{ 'checked' if sent_data and sent_data.get('co_oc_strength')=='pmi' else '' }}>
          <label class='form-check-label' for='pmi'>相互情報量（-∞〜∞）</label>
        </div>
      </div>
    </div>

    <!--
    ----- 表示する共起強度の範囲 -----
    -->
    <div class='form-group w-25'>
      <h5><div class='badge badge-danger'>必須</div> 共起強度の最大値</h5>
      <div class='px-4'>
        <input type='number' class='form-control {{ "is-invalid" if sent_data and sent_data.get("error", {}).get("strength_max") else "" }}'
          name='strength_max' step='0.01' value={{ sent_data.get('strength_max') if sent_data else 1.0 }}>
        {% if sent_data and sent_data.get('error', {}).get('strength_max') %}
          <div class='invalid-feedback'>
            {{ sent_data.get('error').get('strength_max') }}
          </div>
        {% endif %}
      </div>
    </div>

    <!--
    ----- 可視化対象の品詞 -----
    -->
    <div class='form-group'>
      <h5><div class='badge badge-danger'>必須</div> 可視化対象の品詞</h5>
      <div class='px-4'>
        {% for key, value in edogawa_data.get('hinshi_dict').items() %}
        <div class='form-check'>
          <input type='checkbox' name='hinshi' value={{key}} id={{key}}
            class='form-check-input {{ "is-invalid" if sent_data and sent_data.get("error", {}).get("hinshi") else "" }}'
            {{'checked' if (sent_data and value in sent_data.get('hinshi') or not sent_data) else '' }}>
          <label for={{key}} class='form-check-label'>{{value}}</label>
          {% if loop.index == edogawa_data.get('hinshi_dict')|length and sent_data and sent_data.get('error', {}).get('hinshi') %}
            <div class='invalid-feedback'>
              {{ sent_data.get('error').get('hinshi') }}
            </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!--
    ----- カテゴリー選択 -----
    -->
    {% if category_list and category_list[0] != '< 章なし >' %}
      <div class='form-group'>
        <h5><div class='badge badge-danger'>必須</div> カテゴリー選択（3Dのみ）</h5>
        <div class='px-4'>
          {% for category in category_list %}
          <div class='form-check'>
            <input type='checkbox' name='category' value={{category}} id={{loop.index}}
              class='form-check-input {{ "is-invalid" if sent_data and sent_data.get("error", {}).get("category") else "" }}'
              {{'checked' if (sent_data and category in sent_data.get('category') or not sent_data and loop.index == 1) else '' }}>
            <label for={{loop.index}} class='form-check-label'>{{category}}</label>
            {% if loop.index == category_list|length and sent_data and sent_data.get('error', {}).get('category') %}
              <div class='invalid-feedback'>
                {{ sent_data.get('error').get('category') }}
              </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <!--
    ----- 詳細設定 -----
    -->
    <div class='form-group'>
      <button class='btn btn-info dropdown-toggle' aria-controls='detail-options' aria-expanded='false'
        data-target='#detail-options' data-toggle='collapse' type='button'>詳細設定</button>
      <div id='detail-options' class='collapse border border-info rounded px-4 py-2'>
        <!--
        ----- 指定ワード -----
        -->
        <div class='form-group'>
          <h5><div class='badge badge-secondary'>任意</div> 指定ワード</h5>
          <div class='p-4'>
            <p>指定した単語の共起のみ表示します。</p>
            <button class='btn btn-info dropdown-toggle' aria-controls='target-word-sample' aria-expanded='false'
              data-target='#target-word-sample' data-toggle='collapse' type='button'>入力例</button>
            <div id='target-word-sample' class='collapse'>
              <div class='bs-callout bs-callout-info mt-0 py-1'>
                <p>
                怪人<br>
                面相
                </p>
              </div>
            </div>
          </div>
          <div class='px-4'>
            <textarea class='form-control' rows=2
              name='target-words'>{{ sent_data.get('target_words') if sent_data else ''}}</textarea>
          </div>
        </div>

        <!--
        ----- 同義語指定 -----
        -->
        <div class='form-group'>
          <h5><div class='badge badge-secondary'>任意</div> 同義語指定</h5>
          <div class='p-4'>
            <p>指定した単語群を同一の単語として可視化します。</p>
            <button class='btn btn-info dropdown-toggle' aria-controls='synonym-sample' aria-expanded='false'
              data-target='#synonym-sample' data-toggle='collapse' type='button'>入力例</button>
            <div id='synonym-sample' class='collapse'>
              <div class='bs-callout bs-callout-info mt-0 py-1'>
                <p>
                ・怪人二十面相<br>
                怪人,二十,面相<br>
                <br>
                ・明智探偵<br>
                明智,小五郎,探偵
                </p>
              </div>
            </div>
          </div>
          <div class='px-4'>
            <textarea class='form-control' rows=2
              name='synonym'>{{ sent_data.get('synonym') if sent_data else ''}}</textarea>
          </div>
        </div>

        <!--
        ----- 除去設定 -----
        -->
        <div class='card border-danger mb-3'>
          <h5 class='card-header'><div class='badge badge-secondary'>任意</div> 除去設定</h5>
          <div class='card-body'>
            <!--
            ----- 除去ワード -----
            -->
            <div class='form-group'>
              <label for='remove-word' class='form-check-label'>除去ワード</label>
              <div class='p-4'>
                <p>共起ネットワークに含めない単語を指定可能です。</p>
                <button class='btn btn-info dropdown-toggle' aria-controls='remove-word-sample' aria-expanded='false'
                  data-target='#remove-word-sample' data-toggle='collapse' type='button'>入力例</button>
                <div id='remove-word-sample' class='collapse'>
                  <div class='bs-callout bs-callout-info mt-0 py-1'>
                    <p>
                    二十面相<br>
                    明智
                    </p>
                  </div>
                </div>
              </div>
              <div class='px-4'>
                <textarea class='form-control' rows=2
                  name='remove-words'>{{ sent_data.get('remove_words') if sent_data else ''}}</textarea>
              </div>
            </div>

            <!--
            ----- 除去対象の品詞組み合わせ -----
            -->
            <div class='form-group'>
              <label class='form-check-label'>除去対象の品詞組み合わせ</label>
              <div class='row px-5'>
                <!--
                ----- 名詞 -----
                -->
                <div class='col-3 card card-body'>
                  <div class='card-title'>名詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                  <div class='form-check'>
                    <input type='checkbox' name='remove-combi-meishi' value={{value}} id=meishi-{{key}} class='form-check-input'
                    {{ 'checked' if ( sent_data and value in sent_data.get('remove_combi', {}).get('meishi', {}) ) else '' }}>
                    <label for=meishi-{{key}} class='form-check-label'>{{value}}</label>
                  </div>
                  {% endfor %}
                </div>
                <!--
                ----- 動詞 -----
                -->
                <div class='col-3 card card-body'>
                  <div class='card-title'>動詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                  <div class='form-check'>
                    <input type='checkbox' name='remove-combi-doushi' value={{value}} id=doushi-{{key}} class='form-check-input'
                    {{ 'checked' if ( sent_data and value in sent_data.get('remove_combi', {}).get('doushi', {}) ) else '' }}>
                    <label for=doushi-{{key}} class='form-check-label'>{{value}}</label>
                  </div>
                  {% endfor %}
                </div>
                <!--
                ----- 形容詞 -----
                -->
                <div class='col-3 card card-body'>
                  <div class='card-title'>形容詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                  <div class='form-check'>
                    <input type='checkbox' name='remove-combi-keiyoushi' value={{value}} id=keiyoushi-{{key}} class='form-check-input'
                    {{ 'checked' if ( sent_data and value in sent_data.get('remove_combi', {}).get('keiyoushi', {}) ) else '' }}>
                    <label for=keiyoushi-{{key}} class='form-check-label'>{{value}}</label>
                  </div>
                  {% endfor %}
                </div>
                <!--
                ----- 副詞 -----
                -->
                <div class='col-3 card card-body'>
                  <div class='card-title'>副詞 - ?</div>
                  {% for key, value in edogawa_data.get('hinshi_dict').items() %}
                  <div class='form-check'>
                    <input type='checkbox' name='remove-combi-fukushi' value={{value}} id=fukushi-{{key}} class='form-check-input'
                    {{ 'checked' if ( sent_data and value in sent_data.get('remove_combi', {}).get('fukushi', {}) ) else '' }}>
                    <label for=fukushi-{{key}} class='form-check-label'>{{value}}</label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
    ----- 可視化ボタン -----
    -->
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>新規タブで可視化</button>
    </div>
  </form>
</div>
{% endblock %}