{% extends "layout/layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{ basic_data.get('title') }}</h3>
  {#
  ##### 入力データの情報表示 #####
  #}
  {% if input_table %}
    {% with table_label='データ選択', col_1='入力項目', col_2='設定項目', contents=input_table %}
      {% include 'tables/display2columns.html' %}
    {% endwith %}
    <hr>
  {% endif %}

  {#
  ##### 作品検索フォーム #####
  #}
  <form action={{ url_for('aggregation.result') }} method='post' enctype='multipart/form-data' target='_blank'>
    {#
    ##### 品詞 #####
    #}
    {% with option_type='必須', form_label='可視化対象の品詞', form_name='hinshi', form_remarks='※（）内は品詞毎の総語数',
            form_hinshi=hinshi_dict, option=option if option else None %}
      {% include 'forms/checkbox_form.html' %}
    {% endwith %}

    {#
    ##### 内容確認ボタン #####
    #}
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>集計</button>
    </div>
  </form>
</div>
{% endblock %}