{% extends "layout/layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{ basic_data.get('title') }}</h3>

  <p>ここでは、テキストを分析するための前処理を施すことができます。</p>

  {#
  ##### テキスト前処理設定フォーム #####
  #}
  <form action={{ url_for('text_preprocessing.show') }} method='post'>
    {#
    ##### 前処理対象のテキスト #####
    #}
    {% with option_type='必須', form_label='前処理対象テキスト', form_name='texts',
            form_y=5, option=input_data %}
      {% include 'forms/textarea_form.html' %}
    {% endwith %}

    {#
    ##### 削除対象の文字列 #####
    #}
    {% with option_type='任意', form_label='削除設定', form_name='remove_texts',
            form_help='削除したい文字列を改行区切りで入力してください。',
            form_sample='「<br>怪人<br>」',
            form_y=3, option=option %}
      {% include 'forms/textarea_form.html' %}
    {% endwith %}

    {#
    ##### 置換対象の文字列 #####
    #}
    {% with option_type='任意', form_label='置換設定', form_name='replace_texts',
            form_help='「置換対象（半角スペース）置換後」という形式でそれぞれ改行区切りで入力してください。',
            form_sample='! 。<br>? 。<br>かいじん 怪人',
            form_y=3, option=option %}
      {% include 'forms/textarea_form.html' %}
    {% endwith %}

    {#
    ##### 指定の文字列とそれに囲まれた文字の削除 #####
    #}
    {% with option_type='任意', form_label='指定文字列とその中身の削除設定', form_name='remove_text_in_texts',
            form_help='「指定文字列（,）指定文字列」という形式でそれぞれ改行区切りで入力してください。<br>入力形式は入力例をご覧ください。',
            form_sample='《,》<br>「,」<br>（,）',
            form_y=3, option=option %}
      {% include 'forms/textarea_form.html' %}
    {% endwith %}

    {#
    ##### その他設定 #####
    #}
    <div class='form-group'>
      <h5><div class='badge badge-secondary'>任意</div> その他設定</h5>
      {# 設定説明 #}
      <div class='px-4'>
        <button class='btn btn-sm btn-outline-info dropdown-toggle' aria-controls='option_description' aria-expanded='false'
          data-target='#option_description' data-toggle='collapse' type='button'>詳細</button>
        <div id='option_description' class='collapse'>
          <div class='bs-callout bs-callout-info mt-0 py-1'>
            {% for value in description.get('other_options').values() %}
              {{ value|safe }}
            {% endfor %}
          </div>
        </div>
        {% for key, value in other_option.items() %}
        <div class='form-check'>
          <input type='checkbox' name='other_option' value={{key}} id={{key}} class='form-check-input' {{'checked' if 
          (option and value in option.get('other_option') or not option and key not in ['replace_numbers2zero', 'big2small']) else '' }}>
          <label for={{key}} class='form-check-label'>{{value}}</label>
        </div>
        {% endfor %}
      </div>
    </div>
    {#
    ##### 前処理ボタン #####
    #}
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>前処理</button>
    </div>
  </form>

  {#
  ##### 前処理結果 #####
  #}
  {% if result and result.get('preprocessed_texts')%}
  <hr>
  <div class='form-group'>
    <textarea class='form-control'
        rows={{ result.get('preprocessed_texts')|length//60
                if 5 < result.get('preprocessed_texts')|length//60
                else 5 }}>{{ result.get('preprocessed_texts') }}</textarea>
  </div>
  {% endif %}
</div>
{% endblock %}
