{% extends "layout.html" %}
{% block content %}
<div class='container'>
  <h3 class='text-center'>{{ basic_data.get('title') }}</h3>

  <!--
  ----- 作品検索フォーム -----
  -->
  <form action='/co-occurrence_network/visualization' method='post'>
    <!--
    ----- 作品名 ------
    -->
    <div class='form-group w-50'>
      <label for='name' class='form-check-label'>作品名</label>
      <select name='name' class='form-control'>
        {% for name, file in edogawa_data.get('name_file') %}
        <option value={{name}}-{{file}} {{'selected' if sent_data and sent_data.get('name')==name else '' }}>{{name}}
        </option>
        {% endfor %}
      </select>
    </div>

    <!--
    ----- 表示する共起数上位 -----
    -->
    <div class='form-group w-25'>
      <label for='number' class='form-check-label'>共起数上位</label>
      <input type='number' class='form-control' name='number' value={{ sent_data.get('number') if sent_data else 250 }}>
    </div>

    <!--
    ----- 可視化対象の品詞 -----
    -->
    <div class='form-group'>
      <label for='hinshi' class='form-check-label'>可視化対象の品詞</label>
      {% for key, value in edogawa_data.get('hinshi_dict').items() %}
      <div class='form-check'>
        <input type='checkbox' name='hinshi' value={{key}} id={{key}} class='form-check-input' {{'checked' if 
        (sent_data and value in sent_data.get('hinshi') or not sent_data) else '' }}>
        <label for={{key}} class='form-check-label'>{{value}}</label>
      </div>
      {% endfor %}
    </div>

    <!--
    ----- 除去ワード -----
    -->
    <div class='form-group'>
      <label for='remove-word' class='form-check-label'>除去ワード</label>
      <div class='p-2'>
        <p>共起ネットワークに含めない単語を指定可能です。</p>
        <button class='btn btn-info dropdown-toggle' aria-controls='remove-word-sample' aria-expanded='false'
          data-target='#remove-word-sample' data-toggle='collapse' type='button'>入力例</button>
        <div id='remove-word-sample' class='collapse'>
          <textarea class='form-control' disabled placeholder=二十面相&#13;&#10;明智 rows=2></textarea>
        </div>
      </div>
      <textarea class='form-control' rows=3
        name='remove-words'>{{ sent_data.get('remove_words') if sent_data else ''}}</textarea>
    </div>

    <!--
    ----- 可視化ボタン -----
    -->
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>可視化</button>
    </div>
  </form>


  <!--
  ----- 共起ネットワーク結果 -----
  -->
  {% if sent_data %}
  <!--
  ----- 検索条件の表示 -----
  -->
  <hr>
  <div class='my-2'>
    <p>作品名：{{ sent_data.get('name') }}</p>
    <p>共起上位：{{ sent_data.get('number') }}</p>
    <p>可視化対象の品詞：{{ ', '.join(sent_data.get('hinshi')) }}</p>
    <p>除去ワード：{{ ', '.join(sent_data.get('remove_words').split('\r\n')) }}</p>
  </div>

  <!--
  ----- 共起ネットワークのグラフ -----
  -->
  <div class='border embed-responsive embed-responsive-16by9'>
    <iframe src={{ url_for('show_co_oc_network', file_name=sent_data.get('file_name')) }}></iframe>
  </div>
  <hr>

  <!--
  ----- csvダウンロードボタン -----
  -->
  <div class='float-right'>
    <form action='/download/csv' method='post'>
      <input type='hidden' name='dir_path' value=tmp>
      <input type='hidden' name='file_name' value={{ sent_data.get('file_name') }}>
      <input type='hidden' name='new_name'
        value={{ sent_data.get('name') }}_{{ '-'.join(sent_data.get('hinshi')) }}_{{ sent_data.get('number') }}>
      <button type='submit' class='btn btn-primary'>CSVダウンロード</button>
    </form>
  </div>

  <!--
  ----- テーブルデータ表示 -----
  -->
  <div class='my-2'>
    <table class='table table-sm table-striped table-hover'>
      <thead class='thead-dark'>
        <tr>
          <th>NO.</th>
          <th>first</th>
          <th>second</th>
          <th>count</th>
        </tr>
      </thead>
      {% for index, rows in sent_data.get('co_oc_df')[:sent_data.get('number')].iterrows() %}
      <tr>
        <td>{{ index+1 }}</td>
        <td>{{ rows['first'] }}</td>
        <td>{{ rows['second'] }}</td>
        <td>{{ rows['count'] }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}