{% extends "layout.html" %}
{% block content %}
<div class='container'>
  <h3 class='text-center'>{{basic_data.get('title')}}</h3>

  <table class='table table-sm table-striped table-hover'>
    <thead class='thead-dark'>
      <tr>
        <th>作品名</th>
        <th>底本</th>
        <th>出版社</th>
        <th>初版発行日</th>
        <th></th>
      </tr>
    </thead>
    {% for name, reader_id in novels_data %}
    <tr>
      {% if name == '随筆銭形平次' %}
      {% set aozora_uri = 'https://www.aozora.gr.jp/cards/001670/card' %}
      {% else %}
      {% set aozora_uri = 'https://www.aozora.gr.jp/cards/001779/card' %}
      {% endif %}
      <td>
        <a href="{{aozora_uri}}{{reader_id}}.html" target="_blank">{{name}}</a>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a class="btn btn-sm btn-info"
          href="https://www.satokazzz.com/airzoshi/reader.php?action=aozora&id={{reader_id}}" target="_blank">読む</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}