{% extends "layout.html" %}
{% block content %}
<div class='container mb-4'>
  <h3 class='text-center'>{{ basic_data.get('title') }}</h3>

  <p><a href='https://khcoder.net/' target='_blank'>KH Coder</a>とは、テキスト型（文章型）データを統計的に分析するためのフリーソフトウェアです。</p>
  <p>ここでは、KH Coderで分析するためのCSVデータをダウンロードできます。</p>

  <!--
  ----- 作品検索フォーム -----
  -->
  <form action='/khcoder' method='post'>
    <!--
    ----- 作品名 ------
    -->
    <div class='form-group'>
      <label for='name' class='form-check-label'>作品名</label>
      <select name='name' class='form-control'>
        {% for name, file in novels_data %}
        <option value={{name}}-{{file}} {{'selected' if sent_data and sent_data.get('name')==name else '' }}>{{name}}
        </option>
        {% endfor %}
      </select>
    </div>

    <!--
    ----- 内容確認ボタン -----
    -->
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>内容確認</button>
    </div>
  </form>


  <!--
  ----- 内容結果 -----
  -->
  {% if sent_data %}
  <!--
  ----- 検索条件の表示 -----
  -->
  <hr>
  <div class='my-2'>
    <p>作品名：{{ sent_data.get('name') }}</p>
  </div>

  <hr>
  <div class='float-right'>
    <form action='/download/csv' method='post'>
      <input type='hidden' name='dir_path' value='csv/khcoder'>
      <input type='hidden' name='file_name' value={{ sent_data.get('file_name') }}>
      <input type='hidden' name='new_name' value={{ sent_data.get('file_name') }}>
      <button type='submit' class='btn btn-primary'>CSVダウンロード</button>
    </form>
  </div>

  <!--
  ----- テーブルデータ表示 -----
  -->
  <table class='table table-sm table-striped table-hover'>
    <thead class='thead-dark'>
      <tr>
        <th>テキスト</th>
        <th>章</th>
      </tr>
    </thead>
    {% for text, chapter in sent_data.get('text_chapter') %}
    <tr>
      <td title={{text}}>{{text | truncate(50)}}</td>
      <td>{{chapter}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}