<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }} crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js" crossorigin="anonymous"></script>
  <script type='text/javascript' src={{ url_for('static', filename='js/script.js') }} crossorigin="anonymous"></script>
  {% if basic_data.get('title') %}
  <title>{{ basic_data.get('title') }} - 江戸川乱歩作品可視化システム</title>
  {% else %}
  <title>江戸川乱歩作品可視化システム</title>
  {% endif %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href={{ url_for('index.show') }}>江戸川乱歩作品可視化システム</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'home' else '' }}" href={{
              url_for('index.show') }}>ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'information' else '' }}" href={{
              url_for('information.show') }}>作品情報</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'preprocessing' else '' }}" href={{
              url_for('text_preprocessing.show') }}>テキストの前処理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'morph_analysis' else '' }}" href={{
              url_for('morph_analysis.show') }}>形態素解析</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'co_oc_network' else '' }}" href={{
              url_for('network.show') }}>共起ネットワーク</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'KH-coder' else '' }}" href={{
              url_for('khcoder.show') }}>KH Coder</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true, category_filter=['error']) %}
    {% if messages %}
      <ul class='alert alert-danger px-4' role='alert'>
      {% for category, message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>

</html>