{% extends "layout.html" %}
{% block content %}
<div class='container'>
  <h3 class='text-center'>{{basic_data.get('title')}}</h3>

  <form action='/morphological/analysis' method='post'>
    <!--
    ----- 形態素解析器 -----
    -->
    <div class='form-group'>
      <label for='mrph' class='form-check-label'>形態素解析器 ※()内は使用する辞書</label>
      <div class='form-check'>
        <input type='radio' name='mrph' value='mecab' id='mecab' class='form-check-input' {{'checked' if
        mrph_type == 'mecab' or mrph_type == 'None' else '' }}>
        <label for='mecab' class='form-check-label'>MeCab（NEologd）</label>
      </div>
      <div class='form-check'>
        <input type='radio' name='mrph' value='juman' id='juman' class='form-check-input' {{'checked' if mrph_type == 'juman' else '' }}>
        <label for='juman' class='form-check-label'>Jumanpp</label>
      </div>
    </div>

    <!--
    ----- 形態素解析用テキスト -----
    -->
    <div class='form-group'>
      <label for='mecab-word' class='form-check-label'>解析テキスト</label>
      <div class='p-2'>
        <p>形態素解析したいテキストを入力してください。</p>
        <button class='btn btn-info dropdown-toggle' aria-controls='mrph-word-sample' aria-expanded='false'
          data-target='#mrph-word-sample' data-toggle='collapse' type='button'>入力例</button>
        <div id='mrph-word-sample' class='collapse'>
          <textarea class='form-control' disabled placeholder='すもももももももものうち' rows=1></textarea>
        </div>
      </div>
      <textarea class='form-control' rows=3
        name='mecab-words'>{{ mrph_data.get('words') if mrph_data else ''}}</textarea>
    </div>

    <!--
    ----- 解析ボタン -----
    -->
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>解析</button>
    </div>
  </form>


  <!--
  ----- 形態素解析結果 -----
  -->
  {% if mrph_data %}
  <!--
  ----- csvダウンロードボタン -----
  -->
  <div class='float-right'>
    <form action='/download/csv' method='post'>
      <input type='hidden' name='dir_path' value=tmp>
      <input type='hidden' name='file_name' value={{ mrph_data.get('csv_name') }}>
      <input type='hidden' name='new_name'
        value={{ mrph_type }}による形態素解析結果>
      <button type='submit' class='btn btn-primary'>CSVダウンロード</button>
    </form>
  </div>

  <!--
  ----- テーブルデータ表示 -----
  -->
  <div class='my-2'>
    <table class='table table-sm table-striped table-hover'>
      <thead class='thead-dark'>
        <tr>
          {% for column in mrph_data.get('result_df').columns %}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% for index, mrph in mrph_data.get('result_df').iterrows() %}
      <tr>
        {% for key in mrph_data.get('result_df').columns %}
        <td>{{ mrph.get(key, '*') }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}