{% extends "layout.html" %}
{% block content %}
<div class='container pb-4'>
  <h3 class='text-center'>{{ basic_data.get('title') }}</h3>

  <p>ここでは、テキストを分析するための前処理を施すことができます。</p>

  <!--
  ----- テキスト前処理設定フォーム -----
  -->
  <form action='/preprocessing' method='post'>
    <!--
    ----- 前処理対象のテキスト -----
    -->
    <div class='form-group'>
      <label for='texts' class='form-check-label'>前処理対象テキスト</label>
      <textarea class='form-control' rows=3
        name='texts'>{{ sent_data.get('texts') if sent_data else ''}}</textarea>
    </div>

    <!--
    ----- 削除対象の文字列 -----
    -->
    <div class='form-group'>
      <label for='remove-texts' class='form-check-label'>削除設定</label>
      <!-- 入力例 -->
      <div class='p-2'>
        <p>削除したい文字列を改行区切りで入力してください。</p>
        <button class='btn btn-info dropdown-toggle' aria-controls='remove-word-sample' aria-expanded='false'
          data-target='#remove-word-sample' data-toggle='collapse' type='button'>入力例</button>
        <div id='remove-word-sample' class='collapse'>
          <div class='bs-callout bs-callout-info mt-0 py-1'>
            <p>
            「<br>
            怪人<br>
            」
            </p>
          </div>
        </div>
      </div>

      <textarea class='form-control' rows=2
        name='remove-texts'>{{ sent_data.get('remove_texts') if sent_data else ''}}</textarea>
    </div>

    <!--
    ----- 置換対象の文字列 -----
    -->
    <div class='form-group'>
      <label for='replace-texts' class='form-check-label'>置換設定</label>
      <!-- 入力例 -->
      <div class='p-2'>
        <p>「置換対象（半角スペース）置換後」という形式でそれぞれ改行区切りで入力してください。</p>
        <button class='btn btn-info dropdown-toggle' aria-controls='replace-word-sample' aria-expanded='false'
          data-target='#replace-word-sample' data-toggle='collapse' type='button'>入力例</button>
        <div id='replace-word-sample' class='collapse'>
          <div class='bs-callout bs-callout-info mt-0 py-1'>
            <p>
            ! 。<br>
            ? 。<br>
            かいじん 怪人
            </p>
          </div>
        </div>
      </div>

      <textarea class='form-control' rows=2
        name='replace-texts'>{{ sent_data.get('replace_texts') if sent_data else ''}}</textarea>
    </div>

    <!--
    ----- その他設定 -----
    -->
    <div class='form-group'>
      <label for='other-option' class='form-check-label'>その他設定</label>
      <!-- 設定説明 -->
      <div class='p-2'>
        <button class='btn btn-info dropdown-toggle' aria-controls='option_description' aria-expanded='false'
          data-target='#option_description' data-toggle='collapse' type='button'>詳細</button>
        <div id='option_description' class='collapse'>
          <div class='bs-callout bs-callout-info mt-0 py-1'>
            {% for key in description.keys() %}
              <h4>{{ key }}</h4>
              <p class='px-4 small'>
              {% for desc in description[key].split('\n') %}
              {{ desc }}<br>
              {% endfor %}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>

      {% for key, value in other_option.items() %}
      <div class='form-check'>
        <input type='checkbox' name='other-option' value={{key}} id={{key}} class='form-check-input' {{'checked' if 
        (sent_data and value in sent_data.get('other_option') or not sent_data) else '' }}>
        <label for={{key}} class='form-check-label'>{{value}}</label>
      </div>
      {% endfor %}
    </div>

    <!--
    ----- 前処理ボタン -----
    -->
    <div class='text-center'>
      <button type='submit' class='btn btn-primary'>前処理</button>
    </div>
  </form>

  <!--
  ----- 前処理結果 -----
  -->
  {% if sent_data %}
  <hr>
  <div class='card border-primary'>
    <div class='card-body p-2'>
      <p>
        {% for preprocessed_text in sent_data.get('preprocessed_texts') %}
        {{ preprocessed_text }}<br>
        {% endfor %}
      </p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}