<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ url_for('index.show') }}>GITAI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'home' else '' }}" href={{
            url_for('index.show') }}>ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'information' else '' }}" href={{
            url_for('information.show') }}>作品情報</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'preprocessing' else '' }}" href={{
            url_for('text_preprocessing.show') }}>テキストの前処理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'morph_analysis' else '' }}" href={{
            url_for('morph_analysis.show') }}>形態素解析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'aggregation' else '' }}" href={{
            url_for('aggregation.data_selection') }}>データの集計</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'co_oc_network' else '' }}" href={{
            url_for('network.data_selection') }}>共起ネットワーク</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if basic_data.get('active_url') == 'KH-coder' else '' }}" href={{
            url_for('khcoder.show') }}>KH Coder</a>
        </li>
      </ul>
    </div>
  </div>
</nav>